<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aniketkumar.mnnit_portal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mnnit"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1"
        tools:replace="android:icon">
        <activity android:name=".AdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
          <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
          <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
       </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Signup"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PDFVIEW"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminLogin"
            android:screenOrientation="portrait"/>

        <activity android:name=".Verification"
            android:screenOrientation="portrait"/>
        <activity android:name=".After_Admin_Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".UpdateCalender"
            android:screenOrientation="portrait"/>
        <activity android:name=".News_update"
            android:screenOrientation="portrait"/>
        <activity android:name=".Download_Section"
            android:screenOrientation="portrait"/>
        <activity android:name=".GetResultAdmin"
            android:screenOrientation="portrait"/>
        <activity android:name=".Notification_View"
            android:screenOrientation="portrait"/>
        <activity android:name=".MailingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ComputerScience"
            android:screenOrientation="portrait"/>
        <activity android:name=".GenerateForm"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChooseSlot"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminRegistrationDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShowResult"
            android:screenOrientation="portrait"></activity>
        <service android:name=".NotificationService" />
    </application>

</manifest>